*{
  font-family: Arial, Verdana, Helvetica, sans-serif;
  line-height: 2;
}
  
body{
  margin: 20px;
}

.recipes{
  background-color: rgb(252, 248, 246);
  width: 50%;
  padding: 20px 35px;
}

p,li{
  font-size: large;
}

span{
  font-size: 1.2rem;
}
h3{
  font-size: 1.5rem;
}

ul li::marker{
  color: rgb(243, 68, 30);
}

ol li::marker{
  font-size: large;
  font-weight: bolder;
}

ol li{
  margin-bottom: 15px;
  padding-right: 30px;
}